@import "tailwindcss";

html,
body,
:root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* This ensures our map actually has a height to display in */
.map-container {
  height: 100%;
  width: 100%;
}